/*Universal Styles*/
body {
    font-family: Helvetica;
    margin: 50px 10px 0px; 

}
h1 {
    background-image: url(/assets/images/pattern.jpeg);
    font-size: 100px;
    color: khaki;
    margin: auto;
    text-align: center;
}
h1,h2 {
    font-weight: bold;
}
h2 {
    font-size: 32px;
    color:white;
}
/*Classes*/
.price {
    font-weight: bold;
    color: blue;
}
.brushes {
    background-color: mediumspringgreen;
}
.frames {
    background-color: lightcoral;
}
.paint {
    background-color: skyblue;
}